
/* CSS for making a grid */
.grid1{
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-content: center;
}


/*  Example of how a HTML Grid would work*/
/* <div class="grid1"> */
/*     <div>
    </div>
     */
/*     <div>
    </div>
 */

/* </div> */
