#headerPhoto{
    position: relative; /* allows repositioning */            
    transform: translate(-50%,0);
}

.centered{
    width: 100%;
    margin: 0 auto;
}
img{
    height: 12em;
    object-fit: fill;
    left:50%;
}

.contain{
    width: 100%;
}
